body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

/* MODE PICKER */
.mode-picker {
  height: 100%;
  background: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.mode-picker-header {
  font-size: 2rem;
  min-width: 300px;
  max-width: 400px;
  color: darkseagreen;
  text-align: center;
}
.mode-picker-button {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 360px;
  color: darkslategray;
}

.mode-picker-button-label {
  font-size: 1.2rem;
  color: darkseagreen;
  font-weight: 900;
}
.mode-picker-button-description {
  font-size: 1rem;
}

/* NODE PICKER */
.nodes-picker {
  height: 100%;
  display: flex;
}
.node-picker-header {
  font-size: 2rem;
  width: 350px;
  text-align: center;
  color: darkseagreen;
  color: beige;
}
.column-left {
  flex: 1;
  position: relative;
  background: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem;
}
.column-left-arrow {
  position: absolute;
  background: darkslategray;
  top: calc(50% - 15px);
  right: -15px;
  transform: rotate(45deg);
  height: 30px;
  width: 30px;
  z-index: 100;
}
@media (max-width: 850px) {
  .nodes-picker {
    flex-direction: column;
  }
  .column-left-arrow {
    top: unset;
    right: unset;
    left: calc(50% - 15px);
    bottom: -15px;
  }
}
.node-picker-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

/* GRAPH DISPLAY */
.graph-container {
  height: 100%;
  display: flex;
  position: relative;
}
.graph-column {
  flex: 1;
  background: darkslategray;
  padding: 4rem;
  position: relative;
  overflow: hidden;
}
.graph-header {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 100;
  font-size: 1rem;
  color: beige;
}

.column-right-arrow {
  background: beige;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 15px);
  left: -15px;
  height: 30px;
  width: 30px;
}

/* SHARED CLASSNAME */
.column-right {
  flex: 1;
  padding: 4rem;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: beige;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.column-right-title {
  font-size: 100px;
  font-weight: bold;
  /* color: darkseagreen; */
}
.column-right-text {
  text-align: justify;
}

@media (max-width: 850px) {
  .graph-container {
    flex-direction: column;
  }
  .column-right-arrow {
    top: unset;
    left: calc(50% - 15px);
    top: -15px;
  }
}

.styled-hr {
  border: none;
  border-top: 2px solid darkslategray;
  width: 80%;
}
